* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
  background: #c2c2c2;
  font-size: 16px;
  font-family: Arial;
}
.padre{
  background: #037ef3;
  width: 95%;
  margin: auto;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header{
  width: 100%;
  background: #7d3f98;
}
.aside1{
  width:20%;
  background: #d20962;
}
section{
  width: 60%;
}
aside{
  width: 20%;
  background: #d20962;
}
footer{
  width: 100%;
  background: #fe5000;
}
@media screen and (max-width:800px){
  .aside1{
    width: 100%;
  }
  section{
    width:100%;
  }
  aside{
    width: 100%;
  }
}
